
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

.env
.env.*

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.log
logs/
*.out

*.csv
storage/
checkpoints/

spark-warehouse/

airflow.db
airflow-webserver.pid


.pytest_cache/
.coverage
.coverage.*
htmlcov/

.mypy_cache/
.pyre/
.pytype/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

*.tmp
*.temp
*.swp
*.bak

main.py