# Core
PyYAML>=6.0

# Data Generation
Faker>=37.0

# Data Processing
pandas>=2.3.0
numpy>=2.3.0

# Spark
pyspark>=4.0.0

# Kafka
kafka-python>=2.2.15

# Databases
mysql-connector-python>=9.4.0
psycopg2-binary>=2.9.10

# Airflow (only if running locally, not inside Docker)
# apache-airflow==3.0.6

# Utilities
python-dotenv>=1.1.1